APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:vYI7XjLZ5hiKwhFAZ9ON1G6H2/9w6Q8p7VBzBNby9qk=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_DOMAIN=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=go_next_level
DB_USERNAME=root
DB_PASSWORD=root
DB_SOCKET=/Applications/MAMP/tmp/mysql/mysql.sock
BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
IGNITION_EDITOR=vscode
MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=sendinfo98@gmail.com
MAIL_PASSWORD=lmixrvfbvfppgzgh
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=projectUpdate@giopio.com
MAIL_FROM_NAME=DnD



AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PUSHER_APP_ID=1707034
PUSHER_APP_KEY=97cea720a4df9e2471e5
PUSHER_APP_SECRET=94d0f0a8f24ce6713d40

PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=app2

VIMEO_CLIENT=9b9327a8ad7087c1026d89a0e44dc86dee9fa385
VIMEO_SECRET=VuARaezQdBxBpxeFs4esXAvX8EEZ/FzTcAxVnxsUzb92QY8UVJNhXFpZaFcxwAntc6BrkcKTrXhQsLZpCouhvWQWTf3JQT2DW6FWtd8RvSTTwUj/GtixFoczkr4N81j7
VIMEO_ACCESS=0d4f8cdb132943c8af72648e2a09a737

STRIPE_KEY=pk_test_51MyRmPIPOd0zPaLLN71WLbcuccz8GS8HNyBtHXbBm29fSqDh6cvCsTQ1ObtyztIeuqNtuW0EwLYv0upGzLDorSFX00vivHvukF
STRIPE_SECRET=sk_test_51MyRmPIPOd0zPaLLVoU39SY8hJKkKLWSXU4y8bule6fXQuzRtInpIbdJqD4CPxvPOkzhiRefwgDy1UgEInscPT1100cKRkHxeu


FRONTEND_URL=http://localhost:3000
SANCTUM_STATEFUL_DOMAINS=http://localhost:3000
