table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td {
    cursor: pointer;
}

.selected {
    background-color: #a6b9ff;
    color: white;
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prevMonth, #nextMonth {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.calendar-main-wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
    /* gap: 1.5rem; */
}

.mr-15{
    margin-right: 1.5rem;
}

.schedule-list-box-wrap {
    margin-top: 1.5rem;
}

.schedule-list-item{
    margin-top: 1.5rem;
}

.schedule-list-item h5{
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
    color: #1F2937;
}

.schedule-list-item .media{
    margin-top: 1rem;
}
.schedule-list-item .text{
    color: #687588;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
}

.schedule-list-item .media h6 {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.schedule-list-item .media i{
    font-size: 12px;
    margin-right: 8px;
    color: #3B82F6;
    margin-top: 4px;
}

.schedule-list-item .media h6 img{
    width: 12px;
    margin-left: 4px;
}

.schedule-list-item .media i.danger{
    color: #EC4899;
}
.schedule-list-item .media i.warning{
    color: #FBBF24;
}

.calendar-wrapper{
    padding: 1.5rem 10px!important;
}

.calendar-wrapper table th, .calendar-wrapper table td {
    padding: 10px 8px!important;
    width: 20px;
    height: 20px;
}

#navigation{
    padding-left: 0.6rem!important;
    padding-right: 0.875rem!important;
}

.single-task-box {
    height: 80px!important;
}

.right-side-schedule-box .task-info-box{
    padding: 0.25rem 0rem!important;
}
.right-side-schedule-box .task-info {
    display: block!important;
    width: 85%!important;
    position: absolute!important;
}

.right-side-schedule-box .task-info h4{
    text-align: left!important;
}

.calendar-wrapper table td:hover,
.calendar-wrapper table td.selected{
    color: #436CFF!important;
}

.h-85{
    height: 75px!important;
}
.h-170{
    height: 150px!important;
}
.h-255{
    height: 220px!important;
}

.h-340 {
    height: 300px !important;
}

.h-425 {
    height: 375px !important;
}

.h-510 {
    height: 450px !important;
}

.h-595 {
    height: 525px !important;
}

.h-680 {
    height: 600px !important;
}

.h-765 {
    height: 675px !important;
}

.h-850 {
    height: 750px !important;
}
.h-935 {
    height: 825px !important;
}

.h-1020 {
    height: 900px !important;
}

.h-1105 {
    height: 975px !important;
}

.h-1190 {
    height: 1050px !important;
}

.timerangepicker-from, .timerangepicker-to{
    border: 1px solid #3B82F6!important;
    background-color: #F9F9FC!important;
    border-radius: 6px!important;
}

.timerangepicker-display .increment, .timerangepicker-display .decrement{
    font-size: 14px!important;
    color: #3B82F6!important;
}

.timerangepicker-display {
    border: 1px solid #3B82F6!important;
    margin: 1em 0.175em;
    border-radius: 5px!important;
    width: 2rem;
    height: 2rem;
}

.timerangepicker-display span{
    font-size: 12px!important;

}

.timerangepicker-display .increment {
    left: 4px!important;
}


.timerangepicker-display .decrement {
    bottom: -1.20em!important;
    left: 5px!important;
}

.timerangepicker-display span.value{
    position: relative;
    top: -5px
}

.timerangepicker-from{
    margin-right: 1rem!important;
    padding-bottom: 0!important;
}

.timerangepicker-label{
    background-color: #3b82f6cf!important;
    border: 0!important;
    margin-bottom: 6px!important;
    font-size: 16px!important;
    display: block!important;
    color: #fff!important;
}

.timerangepicker-from, .timerangepicker-to{
    padding-bottom: 6px!important;
}
